<div class="container-fluid bg-light shadow mt-3 ">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow ">

    <div class=" navbar">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link boxs" href="#"><b>EMERGENCY HELPLINE</b></a>

        </li>
        
        <li class="nav-item boxs2">
          <a class="nav-link" href="#"><b>Citizen charter</b></a>
        </li>

      </ul>

    </div>


    <form class="form-inline my-1 my-lg-0">
      <input class="form-control mr-sm-2 border-success shadow" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 shadow" type="submit"><b>Search</b></button>
    </form>

  </nav>
</div>
<div class="container">
  <div class="row mt-4">

    <iframe class="col-md-4 my-auto" data-ride="carousel"
      src="https://www.youtube.com/embed/IgANl8xRQ7s?autoplay=0" allow='autoplay'>
    </iframe>

    <iframe class="col-md-4 my-auto my-auto" src="https://www.youtube.com/embed/Z_GkSQLZJZ4?autoplay=0"
      allow='autoplay'>
    </iframe>

    <iframe class="col-md-3 mx-auto my-auto" src="https://www.youtube.com/embed/MVyTGz48VVI?autoplay=0"
      allow='autoplay'>
    </iframe>

    <iframe class="col-md-3 mx-auto my-auto" data-ride="carousel"
      src="https://www.youtube.com/embed/IgANl8xRQ7s?autoplay=0" allow='autoplay'>
    </iframe>

    <iframe class="col-md-3 mx-auto my-auto" src="https://www.youtube.com/embed/Z_GkSQLZJZ4?autoplay=0"
      allow='autoplay'>
    </iframe>

    <iframe class="col-md-3 mx-auto mt-3" src="https://www.youtube.com/embed/MVyTGz48VVI?autoplay=0"
      allow='autoplay'>
    </iframe>
  </div>
</div>