.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(221, 30, 30);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgb(71, 212, 6);
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.namesp{
  /* border:1px solid rgb(219, 204, 204); */
  font-size:18px;
  font-family: cursive;
  font-weight: lighter;
  /* padding-right: 124px; */
  padding:8px 18px 8px 18px;
  border-radius: 8px;
  /* background-color: rgb(209, 200, 209); */
  color: black;
  box-shadow: 1px 1px 1px 1px rgb(232, 240, 243);
}