<div class="container">
    <div class="row">
        <div class="col-lg-3 shadow">
            <h4>Complaint Priorites</h4>
            <hr>
            <!-- ############  SHOW PRIORITIES ############# -->
            <ul>
                <li class="form-control">higher</li>
            </ul>
           
        </div>
        <div class="col-lg-8 shadow">
            <h4 class=" text-center">Users registered</h4>
            <hr>
            <ul>
                <li class="form-control">
                    User Names
                </li>
            </ul>
        </div>

    </div>
</div>