
      <div class="mb-3 " style="font-size:16px;">
        <b class="ml-3" style="color:rgb(255, 145, 0);">SOLVE</b>
        <b style="color: blue;">My</b>
        <b style="color: orangered;">Complaint</b>
        <b class="ml-5">User Complaints</b>
      </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 shadow">
            <ol>
                <li class=" btn-sm h6 btn-primary"> 03-08-2020</li>
            </ol>
        </div>
        <div class="col-lg-7 shadow">
            <div disabled class="form-control" id="" cols="30" rows="10" style="overflow-y: scroll ;height: 400px;">
                fjdihdugfhdgjfghjklfghjkldfghjklxcvbnm,fghjk
            </div>
        </div>
        <div class="col-lg-3 shadow">
            <div class="card">
                <button class="form-control mb-1 alert-success">Accept <fa name="check fa-lg" class="pl-3"></fa></button>
                <button class="form-control alert-danger">Reject <fa name="ban fa-lg" class="pl-3"></fa></button>
            </div>
            <div>
                <p class="shadow mt-4 bg-dark text-white text-center">Progress <fa name="arrow-down fa-lg" class="pl-3"></fa></p>
            </div>
            <div>
                <span class="form-control text-center">Validating</span>
                <fa name="arrow-down fa-lg" class="pl-5"></fa>
                <span class="form-control text-center">Investigating</span>
                <fa name="arrow-down fa-lg" class="pl-5"></fa>
                <button class="form-control btn-success">Solved</button>
            </div>

        </div>
        <div align="center" class="text-center">
            <h5 class="text-primary text-center ml-5">www.solvemycomplaint.com</h5>
        </div>
    </div>
</div>