<div class="container col-lg-12">
    <div class="row">
      <div class="col-lg-3 col-sm-4 md-2 col-4 bg-secondary shadow "
        style="border: cadetblue 0.2px solid;border-bottom: none; border-top:none; height: 450px;overflow-y: scroll;">
        <p class="bg-dark  text-white" align="center">complaints</p>
        <ol>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>
          <li class="btn-primary small shadow mt-1" align="center">4-8-1995</li>


        </ol>
      </div>
      <div class="col-lg-8 shadow" style="overflow-y: scroll;">
        <div class="row">
          <h6 align="center" class="shadow   mt-2 col-lg-10" style="font-family: cursive;">view status of your
            pettitions</h6>
          <button class=" bg-danger col-lg-2">Close</button>
          <div class="col-lg-12 row">
            <p class="shadow  col-lg-2">Status :</p>
            <ul class="col-lg-10">
              <li class="bg-success col-lg-3">Accepted</li>
            </ul>
            <hr>
          </div>
        </div>


      </div>

    </div>
  </div>