<div class="container shadow">
  <h1 style="color: burlywood;" class="large">Chat-Box <fa name="commenting fa-lg"></fa>
  </h1>
  <hr>
  <div class="row" style="overflow-y:scroll;max-height:350px;">
    <p class="form-control col-lg-9 col-sm-7 col-6 alert alert-success usr mt-2 shadow">
      <span class="text-danger">{{ today | date:' h:mm a' }}</span>
      <fa name="user-circle fa-lg"> </fa>
      hiii this is Abraham jolly
    </p>


    <p align="right" class="form-control col-md-6 col-lg-9 col-sm-7 col-6 alert-danger dep shadow">
      chat msg of ddepartment
      <fa name="commenting fa-lg"></fa><span class="text-primary">| {{ today | date:' h:mm a' }}</span>
    </p>

    <p align="right" class="form-control col-lg-9 col-sm-7 col-6 alert-danger dep shadow">
      chat msg of ddepartment 
      <fa name="commenting fa-lg"></fa><span class="text-primary">| {{ today | date:' h:mm a' }}</span>
    </p>

    <p class="form-control col-lg-9 col-sm-7 col-6 alert alert-success usr mt-2 shadow">
      <span class="text-danger">{{ today | date:' h:mm a' }}</span>
      <fa name="user-circle fa-lg"> </fa>
      hiii this is Abraham jolly 
    </p>

  </div>

  <hr>

  <div class="row">
    <input type="text" class="textarea form-control shadow col-md-8 text-secondary"
      placeholder="Enter your text"><button class=" form-control btn-success col-lg-2">send</button>
  </div>

</div>
