<div class="container" style="height:400px;overflow-y: scroll;">
    <div class="row">
        <div class="card col-lg-6">
            <img class="card-img-top" src="assets/images/solve.jpeg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">{{userdetail.username}}</h4>
            </div>
          </div>
          <div class="col-lg-6 mt-3">
            {{ userId }}
              <h2 class="pl-2 pb-3">{{userdetail.username}}</h2>
              <h6 class="pl-2 pb-3">Email:  {{userdetail.email}}</h6>
              <h6 class="pl-2 pb-3">Mobile: {{userdetail.mobile}}</h6>
              <h6 class="pl-2 pb-3">Gender : {{userdetail.sex}}</h6>
              <h6 class="pl-2 pb-3">Date of Birth:{{userdetail.dob}}</h6>
          </div>
        
    </div>
</div>